coverage
coverage.xml
tests.xml
dist/
build/
docs/
virt_env/
MANIFEST
*.pyc
__pycache__
.coverage
flake8.log
pep8.log
ccm.xml
pep257.log
pylint.log
examples/learn.json
learn.json
learn.gp
learn.gp.png
learn.gp.svg
